  .accordion-wrapper {
    &.style-2 {
        padding: 80px;
        background-color: $gray-700;
        border-radius: 20px;

        @include sm {
          padding: 50px 40px;
        }
        .te-accordion-box-wrapper {
            gap: 0;
          }

        .te-accordion-list-item {
            border-radius: 0;
            background-color: transparent;
            overflow: hidden;
            border-bottom: 1px solid #ffffff33;
        
            .te-accordion-head {
                padding: 16px 0;
                background-color: transparent;

              &:before {
                color: $white;
                background: none;
              }
              &.collapsed {
                background-color: transparent;
        
                &:before {
                    background: none;
                    color: $white;
                }
                .te-accordion-title {
                  color: $white;
                  span {
                    color: $white;
                  }
                }
              }
        
              .te-accordion-title {
                color: $white;
        
                span {
                  color: $white;
                }
              }
            }
            .te-accordion-body {
              color: $text-color;
              margin: 0;
              padding-bottom: 4px;
              padding-top: 0;
              padding-left: 0;
              @include transition;
            }
          }
    }
  }
  